In [5]:
import os
import pandas as pd
import numpy as np

In [27]:
unames = ['userid','gender','age','occupation','zip']
df_users = pd.read_table('Ch02/ml-1m/users.dat', sep='::',header=None, names=unames)

rnames = ['userid','movie_id','rating','time_stampe']
df_ratings = pd.read_table('Ch02/ml-1m/ratings.dat',sep='::',header=None, names=rnames)

mnames = ['movie_id', 'title', 'genres']
df_movies = pd.read_table('Ch02/ml-1m/movies.dat', sep='::', header=None, names=mnames)

C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  from ipykernel import kernelapp as app
C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:8: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [28]:
df_users[:10]

   userid gender  age  occupation    zip
0       1      F    1          10  48067
1       2      M   56          16  70072
2       3      M   25          15  55117
3       4      M   45           7  02460
4       5      M   25          20  55455
5       6      F   50           9  55117
6       7      M   35           1  06810
7       8      M   25          12  11413
8       9      M   25          17  61614
9      10      F   35           1  95370

In [29]:
df_ratings[:10]

   userid  movie_id  rating  time_stampe
0       1      1193       5    978300760
1       1       661       3    978302109
2       1       914       3    978301968
3       1      3408       4    978300275
4       1      2355       5    978824291
5       1      1197       3    978302268
6       1      1287       5    978302039
7       1      2804       5    978300719
8       1       594       4    978302268
9       1       919       4    978301368

In [30]:
df_movies[:10]

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy
5         6                         Heat (1995)         Action|Crime|Thriller
6         7                      Sabrina (1995)                Comedy|Romance
7         8                 Tom and Huck (1995)          Adventure|Children's
8         9                 Sudden Death (1995)                        Action
9        10                    GoldenEye (1995)     Action|Adventure|Thriller

In [35]:
df_ratings.count()

userid         1000209
movie_id       1000209
rating         1000209
time_stampe    1000209
dtype: int64

In [22]:
data = pd.merge(pd.merge(df_ratings,df_users),df_movies)

In [38]:
data[:10]

,userid,movie_id,rating,time_stampe,gender,age,occupation,zip,title,genres
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama
3,15,1193,4,978199279,M,25,7,22903,One Flew Over the Cuckoo's Nest (1975),Drama
4,17,1193,5,978158471,M,50,1,95350,One Flew Over the Cuckoo's Nest (1975),Drama
5,18,1193,4,978156168,F,18,3,95825,One Flew Over the Cuckoo's Nest (1975),Drama
6,19,1193,5,982730936,M,1,10,48073,One Flew Over the Cuckoo's Nest (1975),Drama
7,24,1193,5,978136709,F,25,7,10023,One Flew Over the Cuckoo's Nest (1975),Drama
8,28,1193,3,978125194,F,25,1,14607,One Flew Over the Cuckoo's Nest (1975),Drama
9,33,1193,5,978557765,M,45,3,55421,One Flew Over the Cuckoo's Nest (1975),Drama

In [37]:
data.ix[0]

userid                                              1
movie_id                                         1193
rating                                              5
time_stampe                                 978300760
gender                                              F
age                                                 1
occupation                                         10
zip                                             48067
title          One Flew Over the Cuckoo's Nest (1975)
genres                                          Drama
Name: 0, dtype: object

In [41]:
mean_ratings = data.pivot_table('rating', index='title', columns='gender', aggfunc='mean')
mean_ratings[:5]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024

In [53]:
ratings_by_title = data.groupby('title').size()

In [55]:
ratings_by_title[:10]

title
$1,000,000 Duck (1971)                37
'Night Mother (1986)                  70
'Til There Was You (1997)             52
'burbs, The (1989)                   303
...And Justice for All (1979)        199
1-900 (1994)                           2
10 Things I Hate About You (1999)    700
101 Dalmatians (1961)                565
101 Dalmatians (1996)                364
12 Angry Men (1957)                  616
dtype: int64

In [60]:
active_titles = ratings_by_title.index[ratings_by_title >= 250]
active_titles

Index([''burbs, The (1989)', '10 Things I Hate About You (1999)',
       '101 Dalmatians (1961)', '101 Dalmatians (1996)', '12 Angry Men (1957)',
       '13th Warrior, The (1999)', '2 Days in the Valley (1996)',
       '20,000 Leagues Under the Sea (1954)', '2001: A Space Odyssey (1968)',
       '2010 (1984)',
       ...
       'X-Men (2000)', 'Year of Living Dangerously (1982)',
       'Yellow Submarine (1968)', 'You've Got Mail (1998)',
       'Young Frankenstein (1974)', 'Young Guns (1988)',
       'Young Guns II (1990)', 'Young Sherlock Holmes (1985)',
       'Zero Effect (1998)', 'eXistenZ (1999)'],
      dtype='object', name='title', length=1216)

In [62]:
mean_ratings = mean_ratings.ix[active_titles]
top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)
top_female_ratings[:10]

C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

### Measuring Rating Disagreement

In [68]:
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
sorted_by_diff = mean_ratings.sort_index(by='diff')
sorted_by_diff[::-1][:15]

C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:2: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  from ipykernel import kernelapp as app

gender                                         F         M       dff      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801  0.581801
Caddyshack (1980)                       3.396135  3.969737  0.573602  0.573602
For a Few Dollars More (1965)           3.409091  3.953795  0.544704  0.544704
Porky's (1981)                          2.296875  2.836364  0.539489  0.539489
Animal House (1978)                     3.628906  4.167192  0.538286  0.538286
Exorcist, The (1973)                    3.537634  4.067239  0.529605  0.529605
Fright Night (1985)                     2.973684  3.500000  0.526316  0.526316
Barb Wire (1996)                        1.585366  2.100386  0.515020  0.515020

In [70]:
# Stadnard deviation of rating grouped by title
rating_std_by_title = data.groupby('title')['rating'].std()

# Filter down to active titles
rating_std_by_title = rating_std_by_title.ix[active_titles]

# Order Seires by value in descending order
rating_std_by_title.order(ascending=False)[:10]

C:\Users\cfang\AppData\Local\Continuum\Anaconda2\envs\py3\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: order is deprecated, use sort_values(...)

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64