In [1]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

In [7]:
df = DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
    'key2' : ['one', 'two', 'one', 'two', 'one'],
    'data1' : np.random.randn(5),
    'data2' : np.random.randn(5)},
#     index=[np.arange(10,15)]
              )
df

      data1     data2 key1 key2
0 -0.321582 -1.386311    a  one
1  0.269404 -0.249309    a  two
2  1.847585  0.637234    b  one
3  0.210681  0.943333    b  two
4 -0.278107 -0.178203    a  one

In [10]:
grouped = df['data1'].groupby(df['key1'])
grouped.mean()

key1
a   -0.110095
b    1.029133
Name: data1, dtype: float64

In [16]:
means = df['data1'].groupby(
    [
        df['key1'],df['key2']
    ]
).mean()
means #resulting Series has a hierarchical index

key1  key2
a     one    -0.299845
      two     0.269404
b     one     1.847585
      two     0.210681
Name: data1, dtype: float64

In [17]:
means.unstack()

key2       one       two
key1
a    -0.299845  0.269404
b     1.847585  0.210681

In [20]:
states = np.array(['Ohio', 'California', 'California', 'Ohio', 'Ohio'])
years = np.array([2005, 2005, 2006, 2005, 2006])
df['data1'].groupby([states, years]).mean()

California  2005    0.269404
            2006    1.847585
Ohio        2005   -0.055451
            2006   -0.278107
Name: data1, dtype: float64

In [21]:
#pass column names as the gorup keys
df.groupby('key1').mean()

         data1     data2
key1
a    -0.110095 -0.604608
b     1.029133  0.790283

In [22]:
df.groupby(['key1', 'key2']).mean()

              data1     data2
key1 key2
a    one  -0.299845 -0.782257
     two   0.269404 -0.249309
b    one   1.847585  0.637234
     two   0.210681  0.943333

##  Iterating Over Groups

In [28]:
for name,group in df.groupby('key1'):
    print (name)
    print (group)

a
      data1     data2 key1 key2
0 -0.321582 -1.386311    a  one
1  0.269404 -0.249309    a  two
4 -0.278107 -0.178203    a  one
b
      data1     data2 key1 key2
2  1.847585  0.637234    b  one
3  0.210681  0.943333    b  two

In [31]:
for (k1,k2), group in df.groupby(['key1', 'key2']):
    print (k1)
    print (k2)
    print(group['data1'])
    print(group['data2'])

a
one
0   -0.321582
4   -0.278107
Name: data1, dtype: float64
0   -1.386311
4   -0.178203
Name: data2, dtype: float64
a
two
1    0.269404
Name: data1, dtype: float64
1   -0.249309
Name: data2, dtype: float64
b
one
2    1.847585
Name: data1, dtype: float64
2    0.637234
Name: data2, dtype: float64
b
two
3    0.210681
Name: data1, dtype: float64
3    0.943333
Name: data2, dtype: float64

## Selecting a column or subset of columns

In [33]:
df.groupby(['key1', 'key2'])[['data1']].mean()

              data1
key1 key2
a    one  -0.299845
     two   0.269404
b    one   1.847585
     two   0.210681

##  Grouping with Dicts and Series

In [36]:
people = DataFrame(np.random.randn(5, 5),
    columns=['a', 'b', 'c', 'd', 'e'],
    index=['Joe', 'Steve', 'Wes', 'Jim', 'Travis'])
mapping = {'a': 'red', 'b': 'red', 'c': 'blue',
     'd': 'blue', 'e': 'red', 'f' : 'orange'}
people

               a         b         c         d         e
Joe    -1.049842 -0.534054  1.341558 -0.126286 -0.162301
Steve   0.433001 -1.725990 -0.628087 -0.257686 -0.823378
Wes    -0.047601 -0.528835 -0.058598 -0.836148 -0.221056
Jim     1.171625 -0.393985  1.618132 -0.530005  1.738174
Travis -0.500420  0.128317  0.522767 -0.029769 -0.030523

In [39]:
#Group by dictionary object
by_column = people.groupby(mapping, axis=1)
by_column.sum()

            blue       red
Joe     1.215272 -1.746197
Steve  -0.885773 -2.116366
Wes    -0.894746 -0.797492
Jim     1.088126  2.515815
Travis  0.492998 -0.402626

In [40]:
#Group by series object
map_series = Series(mapping)
people.groupby(map_series, axis=1).sum()

            blue       red
Joe     1.215272 -1.746197
Steve  -0.885773 -2.116366
Wes    -0.894746 -0.797492
Jim     1.088126  2.515815
Travis  0.492998 -0.402626

## Grouping with Functions

In [43]:
people.groupby(len).sum()

          a         b         c         d         e
3  0.074182 -1.456874  2.901091 -1.492439  1.354817
5  0.433001 -1.725990 -0.628087 -0.257686 -0.823378
6 -0.500420  0.128317  0.522767 -0.029769 -0.030523

In [44]:
key_list = ['one', 'one', 'one', 'two', 'two']
people.groupby([len, key_list]).min()

              a         b         c         d         e
3 one -1.049842 -0.534054 -0.058598 -0.836148 -0.221056
  two  1.171625 -0.393985  1.618132 -0.530005  1.738174
5 one  0.433001 -1.725990 -0.628087 -0.257686 -0.823378
6 two -0.500420  0.128317  0.522767 -0.029769 -0.030523

# Data Aggregation

### Aggregation - Any data transformation that produces scalar values from arrays

## Aggregate by user-defined functions

In [45]:
def peak_to_peak(arr):
    return arr.max() - arr.min()

In [47]:
grouped = df.groupby('key1')
grouped.agg(peak_to_peak)

         data1     data2
key1
a     0.590986  1.208108
b     1.636904  0.306099

In [48]:
grouped.describe()

               data1     data2
key1
a    count  3.000000  3.000000
     mean  -0.110095 -0.604608
     std    0.329374  0.677908
     min   -0.321582 -1.386311
     25%   -0.299845 -0.817810
     50%   -0.278107 -0.249309
     75%   -0.004352 -0.213756
     max    0.269404 -0.178203
b    count  2.000000  2.000000
     mean   1.029133  0.790283
     std    1.157466  0.216445
     min    0.210681  0.637234
     25%    0.619907  0.713758
     50%    1.029133  0.790283
     75%    1.438359  0.866808
     max    1.847585  0.943333

## Example

In [53]:
tips = pd.read_csv('Ch09/tips2.csv')
tips['tip_pct'] = tips['tip']/tips['total_bill']
tips[:6]

   total_bill   tip     sex smoker  day    time  size   tip_pct
0       16.99  1.01  Female     No  Sun  Dinner     2  0.059447
1       10.34  1.66    Male     No  Sun  Dinner     3  0.160542
2       21.01  3.50    Male     No  Sun  Dinner     3  0.166587
3       23.68  3.31    Male     No  Sun  Dinner     2  0.139780
4       24.59  3.61  Female     No  Sun  Dinner     4  0.146808
5       25.29  4.71    Male     No  Sun  Dinner     4  0.186240

In [57]:
grouped = tips.groupby(['sex', 'smoker'])
grouped_pct = grouped['tip_pct']
grouped_pct.agg(['mean', 'std', peak_to_peak])

                   mean       std  peak_to_peak
sex    smoker
Female No      0.156921  0.036421      0.195876
       Yes     0.182150  0.071595      0.360233
Male   No      0.160669  0.041849      0.220186
       Yes     0.152771  0.090588      0.674707

In [62]:
grouped_pct.agg([('foo','mean'), ('what',np.std)])

                    foo      what
sex    smoker
Female No      0.156921  0.036421
       Yes     0.182150  0.071595
Male   No      0.160669  0.041849
       Yes     0.152771  0.090588

In [63]:
functions = ['count', 'mean', 'max']
result = grouped['tip_pct', 'total_bill'].agg(functions)
result

              tip_pct                     total_bill
                count      mean       max      count       mean    max
sex    smoker
Female No          54  0.156921  0.252672         54  18.105185  35.83
       Yes         33  0.182150  0.416667         33  17.977879  44.30
Male   No          97  0.160669  0.291990         97  19.791237  48.33
       Yes         60  0.152771  0.710345         60  22.284500  50.81

In [66]:
#apply different functions to one or more of the columns 
grouped.agg({'tip_pct' : ['min', 'max', 'mean', 'std'],'size' : 'sum'})

              size   tip_pct
               sum       min       max      mean       std
sex    smoker
Female No      140  0.056797  0.252672  0.156921  0.036421
       Yes      74  0.056433  0.416667  0.182150  0.071595
Male   No      263  0.071804  0.291990  0.160669  0.041849
       Yes     150  0.035638  0.710345  0.152771  0.090588

## Group-wise Operations and Transformations

In [67]:
df

      data1     data2 key1 key2
0 -0.321582 -1.386311    a  one
1  0.269404 -0.249309    a  two
2  1.847585  0.637234    b  one
3  0.210681  0.943333    b  two
4 -0.278107 -0.178203    a  one

In [69]:
k1_means = df.groupby('key1').mean().add_prefix('mean_')
k1_means

      mean_data1  mean_data2
key1
a      -0.110095   -0.604608
b       1.029133    0.790283

In [70]:
pd.merge(df, k1_means, left_on='key1', right_index=True)

      data1     data2 key1 key2  mean_data1  mean_data2
0 -0.321582 -1.386311    a  one   -0.110095   -0.604608
1  0.269404 -0.249309    a  two   -0.110095   -0.604608
4 -0.278107 -0.178203    a  one   -0.110095   -0.604608
2  1.847585  0.637234    b  one    1.029133    0.790283
3  0.210681  0.943333    b  two    1.029133    0.790283

In [79]:
#equivalently....
df.groupby('key1').transform(np.mean) # transfrom applies the function to each group, then places the results in the appropriate locations

      data1     data2
0 -0.110095 -0.604608
1 -0.110095 -0.604608
2  1.029133  0.790283
3  1.029133  0.790283
4 -0.110095 -0.604608

In [83]:
def demean(arr):
    return arr - arr.mean()

In [84]:
demeaned = people.groupby(key).transform(demean)
demeaned

               a         b         c         d         e
Joe    -0.517221 -0.222530  0.739649  0.204448 -0.024341
Steve  -0.369312 -0.666003 -1.123109  0.136159 -1.280776
Wes     0.485020 -0.217311 -0.660507 -0.505414 -0.083096
Jim     0.369312  0.666003  1.123109 -0.136159  1.280776
Travis  0.032201  0.439841 -0.079142  0.300965  0.107437

In [85]:
demeaned.groupby(key).mean()

                a             b             c             d             e
one -7.401487e-17  3.700743e-17 -7.401487e-17  1.850372e-17  2.312965e-17
two  2.775558e-17 -5.551115e-17  0.000000e+00 -2.775558e-17  0.000000e+00

## Apply: General split-apply-combine

In [86]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 8 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null object
smoker        244 non-null object
day           244 non-null object
time          244 non-null object
size          244 non-null int64
tip_pct       244 non-null float64
dtypes: float64(3), int64(1), object(4)
memory usage: 11.5+ KB

In [89]:
def top(df, n=5, column='tip_pct'):
    return df.sort_values(by=column)[-n:]

In [90]:
top(tips, n=6)

     total_bill   tip     sex smoker  day    time  size   tip_pct
109       14.31  4.00  Female    Yes  Sat  Dinner     2  0.279525
183       23.17  6.50    Male    Yes  Sun  Dinner     4  0.280535
232       11.61  3.39    Male     No  Sat  Dinner     2  0.291990
67         3.07  1.00  Female    Yes  Sat  Dinner     1  0.325733
178        9.60  4.00  Female    Yes  Sun  Dinner     2  0.416667
172        7.25  5.15    Male    Yes  Sun  Dinner     2  0.710345

In [102]:
tips.groupby('smoker').apply(top)
# tips.groupby('smoker', group_keys=False).apply(top)

            total_bill   tip     sex smoker   day    time  size   tip_pct
smoker
No     88        24.71  5.85    Male     No  Thur   Lunch     2  0.236746
       185       20.69  5.00    Male     No   Sun  Dinner     5  0.241663
       51        10.29  2.60  Female     No   Sun  Dinner     2  0.252672
       149        7.51  2.00    Male     No  Thur   Lunch     2  0.266312
       232       11.61  3.39    Male     No   Sat  Dinner     2  0.291990
Yes    109       14.31  4.00  Female    Yes   Sat  Dinner     2  0.279525
       183       23.17  6.50    Male    Yes   Sun  Dinner     4  0.280535
       67         3.07  1.00  Female    Yes   Sat  Dinner     1  0.325733
       178        9.60  4.00  Female    Yes   Sun  Dinner     2  0.416667
       172        7.25  5.15    Male    Yes   Sun  Dinner     2  0.710345

In [95]:
tips.groupby(['smoker', 'day']).apply(top, n=1, column='total_bill')

                 total_bill    tip     sex smoker   day    time  size  \
smoker day
No     Fri  94        22.75   3.25  Female     No   Fri  Dinner     2
       Sat  212       48.33   9.00    Male     No   Sat  Dinner     4
       Sun  156       48.17   5.00    Male     No   Sun  Dinner     6
       Thur 142       41.19   5.00    Male     No  Thur   Lunch     5
Yes    Fri  95        40.17   4.73    Male    Yes   Fri  Dinner     4
       Sat  170       50.81  10.00    Male    Yes   Sat  Dinner     3
       Sun  182       45.35   3.50    Male    Yes   Sun  Dinner     3
       Thur 197       43.11   5.00  Female    Yes  Thur   Lunch     4

                  tip_pct
smoker day
No     Fri  94   0.142857
       Sat  212  0.186220
       Sun  156  0.103799
       Thur 142  0.121389
Yes    Fri  95   0.117750
       Sat  170  0.196812
       Sun  182  0.077178
       Thur 197  0.115982

In [97]:
result = tips.groupby('smoker')['tip_pct'].describe()
result

smoker
No      count    151.000000
        mean       0.159328
        std        0.039910
        min        0.056797
        25%        0.136906
        50%        0.155625
        75%        0.185014
        max        0.291990
Yes     count     93.000000
        mean       0.163196
        std        0.085119
        min        0.035638
        25%        0.106771
        50%        0.153846
        75%        0.195059
        max        0.710345
Name: tip_pct, dtype: float64

In [99]:
result.unstack('smoker')

smoker          No        Yes
count   151.000000  93.000000
mean      0.159328   0.163196
std       0.039910   0.085119
min       0.056797   0.035638
25%       0.136906   0.106771
50%       0.155625   0.153846
75%       0.185014   0.195059
max       0.291990   0.710345

In [100]:
f = lambda x: x.describe()
grouped.apply(f)

                     total_bill        tip       size    tip_pct
sex    smoker
Female No     count   54.000000  54.000000  54.000000  54.000000
              mean    18.105185   2.773519   2.592593   0.156921
              std      7.286455   1.128425   1.073146   0.036421
              min      7.250000   1.000000   1.000000   0.056797
              25%     12.650000   2.000000   2.000000   0.139708
              50%     16.690000   2.680000   2.000000   0.149691
              75%     20.862500   3.437500   3.000000   0.181630
              max     35.830000   5.200000   6.000000   0.252672
       Yes    count   33.000000  33.000000  33.000000  33.000000
              mean    17.977879   2.931515   2.242424   0.182150
              std      9.189751   1.219916   0.613917   0.071595
              min      3.070000   1.000000   1.000000   0.056433
              25%     12.760000   2.000000   2.000000   0.152439
              50%     16.270000   2.880000   2.000000   0.173913
              75%     22.120000   3.500000   2.000000   0.198216
              max     44.300000   6.500000   4.000000   0.416667
Male   No     count   97.000000  97.000000  97.000000  97.000000
              mean    19.791237   3.113402   2.711340   0.160669
              std      8.726566   1.489559   0.989094   0.041849
              min      7.510000   1.250000   2.000000   0.071804
              25%     13.810000   2.000000   2.000000   0.131810
              50%     18.240000   2.740000   2.000000   0.157604
              75%     22.820000   3.710000   3.000000   0.186220
              max     48.330000   9.000000   6.000000   0.291990
       Yes    count   60.000000  60.000000  60.000000  60.000000
              mean    22.284500   3.051167   2.500000   0.152771
              std      9.911845   1.500120   0.892530   0.090588
              min      7.250000   1.000000   1.000000   0.035638
              25%     15.272500   2.000000   2.000000   0.101845
              50%     20.390000   3.000000   2.000000   0.141015
              75%     28.572500   3.820000   3.000000   0.191697
              max     50.810000  10.000000   5.000000   0.710345

# Quantile and Bucket Analysis

In [103]:
# Chapter 7 review
frame = DataFrame({'data1': np.random.randn(1000),
                   'data2': np.random.randn(1000)
                  })
factor = pd.cut(frame.data1,4)
factor[:10]

0    (-0.196, 1.448]
1    (-0.196, 1.448]
2    (1.448, 3.0924]
3    (-1.84, -0.196]
4    (-0.196, 1.448]
5    (-1.84, -0.196]
6    (-1.84, -0.196]
7    (-1.84, -0.196]
8    (-0.196, 1.448]
9    (-1.84, -0.196]
Name: data1, dtype: category
Categories (4, object): [(-3.491, -1.84] < (-1.84, -0.196] < (-0.196, 1.448] < (1.448, 3.0924]]

In [106]:
def get_stats(group):
    return {'min': group.min(),'max': group.max(),
           'count': group.count(), 'mean': group.mean()}

In [108]:
grouped = frame.data2.groupby(factor)
grouped.apply(get_stats).unstack()

                 count       max      mean       min
data1
(-3.491, -1.84]   29.0  2.014536  0.129832 -1.591147
(-1.84, -0.196]  409.0  3.006682 -0.010541 -4.019597
(-0.196, 1.448]  499.0  2.424119  0.044334 -2.929226
(1.448, 3.0924]   63.0  2.482378 -0.000133 -2.372452

In [109]:
#Return quantile numbers
grouping = pd.qcut(frame.data1, 10, labels=False)
grouped = frame.data2.groupby(grouping)
grouped.apply(get_stats).unstack()

       count       max      mean       min
data1
0      100.0  2.014536  0.025796 -3.106797
1      100.0  2.113633 -0.113024 -3.053589
2      100.0  3.006682  0.112652 -2.166220
3      100.0  2.529517 -0.083388 -4.019597
4      100.0  2.138456  0.053780 -2.156347
5      100.0  2.097823 -0.025111 -2.753337
6      100.0  2.424119  0.029328 -2.158146
7      100.0  2.126812  0.195962 -2.223258
8      100.0  1.884763 -0.008621 -2.495536
9      100.0  2.482378  0.028308 -2.929226

## Example: Filling Missing Values with Group-specific Values

In [5]:
s = Series(np.random.randn(6))
s[::2] = np.nan
s

0         NaN
1    0.379365
2         NaN
3   -0.418147
4         NaN
5    0.490695
dtype: float64

In [6]:
s.fillna(s.mean())

0    0.150638
1    0.379365
2    0.150638
3   -0.418147
4    0.150638
5    0.490695
dtype: float64

### Fill value by group

In [10]:
states = ['Ohio', 'New York', 'Vermont', 'Florida', 'Oregon', 'Nevada', 'California', 'Idaho']
group_key = ['East']*4 + ['West']*4
data = Series(np.random.randn(8), index = states)
data[['Vermont', 'Nevada', 'Idaho']] = np.nan
data

Ohio         -2.004121
New York     -0.991966
Vermont            NaN
Florida       1.328725
Oregon       -0.879824
Nevada             NaN
California    0.623239
Idaho              NaN
dtype: float64

In [13]:
data.groupby(group_key).mean()

East   -0.555787
West   -0.128292
dtype: float64

In [16]:
fill_mean = lambda x: x.fillna(x.mean())
data.groupby(group_key).apply(fill_mean)

Ohio         -2.004121
New York     -0.991966
Vermont      -0.555787
Florida       1.328725
Oregon       -0.879824
Nevada       -0.128292
California    0.623239
Idaho        -0.128292
dtype: float64

In [17]:
data

Ohio         -2.004121
New York     -0.991966
Vermont            NaN
Florida       1.328725
Oregon       -0.879824
Nevada             NaN
California    0.623239
Idaho              NaN
dtype: float64

In [20]:
fill_values = {'East': 0.5, 'West': -1}
fill_func = lambda g: g.fillna(fill_values[g.name])
data.groupby(group_key).apply(fill_func)

Ohio         -2.004121
New York     -0.991966
Vermont       0.500000
Florida       1.328725
Oregon       -0.879824
Nevada       -1.000000
California    0.623239
Idaho        -1.000000
dtype: float64

## Example: Random Sampling and Permutation

### Construct a deck of cards

In [74]:
#Hearts, Spades, Clubs, Diamonds
suits = ['K', 'S', 'C', 'D']
card_val = (list(np.arange(1, 11))+ [10] * 3) * 4
base_names = ['A'] + list(np.arange(2, 11)) + ['J', 'K', 'Q']
cards = []
for suit in ['H', 'S', 'C', 'D']:
    cards.extend(str(num) + suit for num in base_names)
deck = Series(card_val, index=cards)

In [75]:
deck[:13]

AH      1
2H      2
3H      3
4H      4
5H      5
6H      6
7H      7
8H      8
9H      9
10H    10
JH     10
KH     10
QH     10
dtype: int64

### Make random draws

In [77]:
def draw(deck, n=5):
    return deck.take(np.random.permutation(len(deck))[:n])

In [85]:
draw(deck)

9H      9
KH     10
9D      9
8C      8
10D    10
dtype: int64

In [86]:
#draw two random cards from each suit
get_suit = lambda card: card[-1] #last letter is suit
deck.groupby(get_suit).apply(draw, n=2)

C  JC    10
   6C     6
D  5D     5
   9D     9
H  6H     6
   JH    10
S  3S     3
   6S     6
dtype: int64

In [93]:
#alternatively
deck.groupby(get_suit, group_keys=False).apply(draw, n=2)

8C      8
5C      5
KD     10
JD     10
6H      6
AH      1
10S    10
2S      2
dtype: int64

## Example: Group Weighted Average and Correlation